{extend name='base'/}
{block name='content'}


<!--<h2 class="sub-header">Section title</h2>-->
<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th width="120">课程名</th>
      <th width="80">实验室</th>
      <th width="160" >班级</th>
      <th width="70" >星期</th>
      <th width="60" >开课时间</th>
      <th width="70">周次</th>
      <th width="70">状态</th>

    </tr>
    </thead>
    <tbody>
    {foreach $state as $vo}
    <tr>
      <td>{$vo['course']}</td>
      <td>{$vo['laboratory_id']}</td>
      <td>{$vo['class']}</td>
      <td>{$vo['week']}</td>
      <td>{$vo['day']}</td>
      <td>{$vo['time']}</td>
      <td>待审核</td>
    </tr>
    {/foreach}
    </tbody>

  </table>

  </div>

{/block}